:root{
    --form-border-color: #D5D5D5; 
}
    
/* Leftside area */
.simplify-creat-account-leftside{
    display: flex;
    width: 50vw;
    background-color: var(--left-bar-background-color); 
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
}

.simplify-creat-account-leftside p{
    color: var(--logo-font-color);
    padding: 5vw;
    font-size: 2rem;
    font-weight: 300;
}

/* Guide text */
.guide-text{
    font-size: 2rem;
    color: black;
}

/* Forms container */
.create-account-forms{
    margin-left: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50vw;
    padding: 2vw;
    box-sizing: border-box;
}

/* Form */
.create-form{
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Between boxes */
    padding: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    width: 100%;
    max-width: 35rem;
    box-sizing: border-box;
    font-size: 0.8rem;
}

/* Form inputs */
.form-input{
    padding: 0.625rem;
    border: 0.0625rem solid var(--form-border-color);
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

/* Signup button */
.create {
    padding: 0.625rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--button-color);
    color: var(--button-color);
    cursor: pointer;
    font-size: 1rem;
    background-color: #fff;
}