:root{
    --left-bar-font-color: #E1E8F0; 
    --left-bar-background-color: #1C2A3A;
    --background-color: #FBFBFC; 
    --background-box-design-color: #fff;
    --logo-font-color: #F1F4F8; 
}

body{
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
}

.simplify-logo{
    font-size: 26px;
    font-weight: 700;
    display: flex;
    background-color: var(--left-bar-background-color);
    padding: 10px;
    width: 230px; /* In order to apply the same background color as the side bar*/
}

.simplify-logo img{
    margin: 10px;
}

.simplify-logo p{
    color: var(--logo-font-color);
}

.container{
    display: flex;
}

/* Side Bar / Home / Events / Log Out */
.sidebar{
    width: 250px;
    background-color: var(--left-bar-background-color); 
    height: 100vh;
    position: flex;
    top: 0;
    left: 0;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.sidebar ul li{
    padding: 15px;
}

.sidebar ul li a{
    color: var(--left-bar-font-color); 
    text-decoration: none; /* Remove underlines */
}

/* Side Bar Bottom / Settings / Help Center */
.sidebar-bottom{
    position: absolute;
    bottom: 0; /* Display Settings and Help Center in bottom */
    width: 100%;
}

.sidebar-bottom ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.sidebar-bottom ul li{
    padding: 15px;
}

.sidebar-bottom ul li a{
    color: var(--left-bar-font-color); 
    text-decoration: none; /* Remove underlines */
}