:root{
    --left-bar-font-color: #E1E8F0; 
    --left-bar-background-color: #1C2A3A;
}

body{
    margin: 0;
    font-family: 'Inter';
    font-size: 16px; 
}

.simplify-logo{
    font-size: 26px;
    font-weight: 700;
    display: flex;
    padding: 20px;
}

.simplify-logo img {
    margin-right: 20px;
}

.container{
    display: flex;
}

.sidebar{
    width: 250px;
    background-color: var(--left-bar-background-color); 
    height: 100vh;
    position: flxed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li{
    padding: 15px;
}

.sidebar ul li a{
    color: var(--left-bar-font-color); 
    text-decoration: none; /* Remove underlines */
}

.sidebar-bottom{
    position: absolute;
    bottom: 0; /* Display Settings and Help Center in bottom */
    width: 100%;
}

.sidebar-bottom ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-bottom ul li{
    padding: 15px;
}

.sidebar-bottom ul li a{
    color: var(--left-bar-font-color); 
    text-decoration: none; /* Remove underlines */
}