<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="/main.js" defer></script>
    <title>Simplify your life</title>
</head>
<body>
    <nav class="menubar">
        <!-- Logo -->
        <div class="menu-items">
            <img src="/image/logo.png" alt="Simplify logo" width="75" height="82" class="simplify-logo">
        </div>
        
        <!-- Menu Items -->
        <ul class="menu-items">
            <li><a href="/" data-content="home">Home</a></li>
            <li><a href="/events" class="menu-item" data-content="events">Create Event</a></li>
            <li><a href="#" class="menu-item" data-content="events">View Event</a></li>
            <li><a href="/about" data-content="about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            
            <!-- Create Account Button -->
            <li class="create-account-button"><a href="/createaccount"><button type="button">Create Account</button></a>
            </li>
        </ul>
    </nav>

    {{{body}}}
</body>
</html>
