<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="/main.js" defer></script>
    <title>Digg | Where Everyone Can Teach, Learn Something New Every Day</title>
</head>
<body>
    <nav class="menubar">
        <div class="digg-logo">
            <a href="/" data-content="home">
                <img src="/image/digg-logotype1.png" alt="digg-logo" width="78" height="78">
            </a>
        </div>

        <!-- Display menu only if NOT on login or create account pages -->
        <!-- Refer to this link: https://handlebarsjs.com/guide/builtin-helpers.html#if -->
        {{#unless isLoginPage}}
        {{#unless isCreateAccountPage}}
        <div class="menu-items">
            <ul>
                <li><a href="/registerclass" class="register-class-menu" data-content="register-class">Register Class</a></li>
                <li><a href="/upcomingclass" class="menu-item" data-content="upcoming-class">Upcomings</a></li>
                <li><a href="/about" data-content="about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

        <div class="search-container">
            <div class="search-bar-in-menu">
                <input type="text" class="search-bar" placeholder="Find a new hobby">
                <img src="/icons/search-icon.png" alt="Search Icon" class="search-icon">
            </div>
        </div>

        <div class="login-items">
            <ul>
                {{#if isLoggedIn}}
                    <li id="menulogin"><a href="/logout">Logout</a></li>
                    {{#if isAdmin}}
                        <li id="menuadmin"><a href="/admin">User manage</a></li>
                    {{/if}}
                {{else}}
                    <li id="menulogin"><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
        {{/unless}}
        {{/unless}}
    </nav>

    {{{body}}}
    
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <div class="company-text">
                    <p>DIGG</p>
                </div>
                <div class="copy-right">
                    <p>&copy; 2024 Digg. All rights reserved.</p>
                </div>
                <div class="app-links">
                    <a href="#">
                        <img src="/icons/appstore.png" alt="App Store" class="app-logo">
                    </a>
                    <a href="#">
                        <img src="/icons/googleplay.png" alt="Google Play" class="app-logo">
                    </a>
                </div>
            </div>

            <div class="footer-section">
                <h4>Information</h4>
                <ul class="footer-links">
                    <li><a href="#">Notices</a></li>
                    <li><a href="#">All Categories</a></li>
                    <li><a href="/contact">Help Center</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Policies</h4>
                <ul class="footer-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Other</h4>
                <ul class="footer-links">
                    <li><a href="#">Business Information Verification</a></li>
                    <li><a href="#">Partnership & Cooperation</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>

            <div class="footer-right">
                <div class="footer-section">
                    <h4>Customer Service</h4>
                    <p>10:00 AM ~ 4:00 PM <br> (Weekends, Public Holidays excluded)</p>
                    <a href="#" class="support-button">Contact Us</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
