<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="/main.js" defer></script>
    <title>Simplify your life</title>
</head>
<body>
    <div class="simplify-logo">
        <img src="/image/logo.png" alt="Simplify logo" width="75" height="82">
        <p>Simplify</p>
    </div>
    <!--  The menu MUST contain at least: Home, List (can be renamed depending on your project choice), About, Contact -->
     <!-- Left Side Bar -->
     <div class="leftside-menu-bar">
        <nav class="sidebar">
            <ul>
                <li><a href="/" data-content="home">
                    <img src="/icons/home-icon.png" alt="Home icon" width="18" height="18" class="icon"> Home
                </a></li>

                <li><a href="#" class="menu-item" data-content="events">
                    <img src="/icons/event-icon.png" alt="Event icon" width="18" height="18" class="icon"> Events
                </a>
                <!-- Submenu for Events -->
                    <ul class="submenu">
                        <li><a href="#">Create Event</a></li>
                        <li><a href="#">View Events</a></li>
                    </ul>
                </li>

                <li><a href="#" data-content="about">
                    <img src="/icons/about-icon.png" alt="About icon" width="18" height="18" class="icon"> About
                </a></li>
                
                <li>
                    <a href="/contact">
                        <img src="/icons/contact-icon.png" alt="Contact icon" width="18" height="18" class="icon">
                        Contact
                    </a>
                </li>
            </ul>
        
            <!-- Side Bar Bottom -->
             <div class="sidebar-bottom">
                <ul>
                    <li>
                        <a href="#logout">
                            <img src="/icons/logout-icon.png" alt="Contact icon" width="18" height="18" class="icon">
                            Log Out
                        </a>
                    </li>
                </ul>
             </div>
        </nav>
     </div>
    <!-- Right-aligned button -->
    <div class="topside-menu-bar">
        <a href="/createaccount">
            <nav class="create-account-button">
                <button type="button">Create Account</button>
        </a>
    </div>
    {{{body}}}
</body>
</html>