<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="/main.js" defer></script>
    <title>Where Everyone Can Teach, Learn Something New Every Day</title>
</head>
<body>
    <nav class="menubar">
        <!-- Logo (Uncomment if needed) -->
        <!-- <img src="/image/logo.png" alt="Simplify logo" width="75" height="82" class="simplify-logo"> -->

        <div class="menu-items">
            <ul>
                <li><a href="/" data-content="home">Home</a></li>
                <li><a href="/registerclass" class="menu-item" data-content="classes">Register Class</a></li>
                <li><a href="/upcomingclass" class="menu-item" data-content="classes">Upcomings</a></li>
                <li><a href="/about" data-content="about">About</a></li>
                <li><a href="/contact">Contact</a></li>

                <!-- Sign up / Log in -->
                <li class="create-account-button"><a href="/createaccount" class="button-link">Create Account</a></li>

                {{#if isLoggedIn}}
                <li id="menulogin">Hi, {{username}} - <a href="/logout">Logout</a></li>
                <li id="menuuserpage"><a href="/userpage">User Page</a></li>
                {{#if isAdmin}} <!-- Show admin menu if user is admin -->
                <li id="menuadmin"><a href="/admin">User manage</a></li>
                {{/if}}
                {{else}}
                <li id="menulogin"><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

    {{{body}}}

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <p>&copy; 2024 Oneday 101. All rights reserved.</p>
            </div>
            <div class="footer-right">
                <ul class="footer-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
