    <div class="about-text"></div>
        <p>Simplify is an innovative event management web application designed to streamline the entire event planning process. 
            Our platform helps organizers efficiently manage events by offering tools for scheduling, ticketing, attendee management, 
            and real-time updates, all in one easy-to-use interface. 
            Whether it's a small meeting or a large conference, Simplify makes organizing events simple and hassle-free. </p>
    </div>