<!-- Admin text -->
<div class="admin-container">
    <div class="admin-title">
        <p>Admin account</p>
    </div>  

    <div class="admin-text">
        <p>Hello professor 
        </p>
    </div>
</div>
