<!-- Contact form -->
<section class="contact-section" id="contact">
    <h2 class="section-title">Contact</h2>
    <div class="contact-container">
        <form action="" class="contact-form">
            <input type="text" placeholder="Name" class="contact-input" name="name" required>

            <input type="email" placeholder="Email" class="contact-input" name="email" required>

            <textarea name="message" id="" cols="30" rows="10" class="contact-input" placeholder="Contact Simplify" required></textarea>

            <input type="submit" value="Send" class="contact-button">
        </form>
    </div>
</section>
