    <div class="contact-forms">
        <form action="" class="contact-form">
            <input type="text" placeholder="First Name" class="contact-form-input" required>

            <input type="text" placeholder="Last Name" class="contact-form-input" required>
            
            <input type="email" placeholder="Email" class="contact-form-input" required>
            </div>
            
            <input type="submit" value="Contact" class="contact">
        </form>
    </div>
