<div class="create-account-forms">
    <form action="/create-account" method="POST" class="create-form">
        <label for="userName">Username</label>
        <input type="text" id="userName" name="userName" placeholder="username" class="form-input" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" class="form-input" required>

      <!--  <div class="terms-checkbox">
            <input type="checkbox" id="agree-terms" name="agree-terms" value="agree-terms" required>
            <label for="agree-terms">I agree to all the Terms and Privacy Policy</label>
        </div>
-->
        <input type="submit" value="Create Account" class="create">
    </form>
</div>
