<div class="events-container">
    <div class="event-title">
        <p>Add New Event</p>
    </div>
    <div class="event-box">
        <ul class="details-set">
            <li>
                <a href="#" data-content="calendar">
                    <img src="/icons/calendar.png" alt="Calendar icon" width="14" height="14" class="icon"> Pick a Date
                </a>
            </li>
            <li>
                <a href="#" data-content="address">
                    <img src="/icons/address.png" alt="Address icon" width="14" height="14" class="icon"> Search Address
                </a>
            </li>
        </ul>
        <h2 class="your-event-name">Your Event Name</h2>
        <p>Write a small description for the event</p>
        <!-- Three icons in the box -->
        <div class="three-icons">
            <img src="/icons/upload-picture.png" alt="Upload Picture icon" width="28" height="28" class="icon">
            <img src="/icons/edit.png" alt="Edit icon" width="28" height="28" class="icon">
            <img src="/icons/delete.png" alt="Delete icon" width="28" height="28" class="icon">
        </div>
    </div> <!-- event-box 닫기 -->

    <div class="event-creating">
        <div class="event-details">
            <p>EVENT DETAILS</p>
            <form action="" class="create-form">
                <label for="event-name">Event Name</label>
                <input type="text" id="event-name" class="form-input" required>

                <div class="time-duration-container">
                    <div class="form-group">
                        <label for="start-time">Start Time</label>
                        <input type="time" id="start-time" class="form-input" required>
                    </div>
                    <div class="form-group">
                        <label for="end-time">End Time</label>
                        <input type="time" id="end-time" class="form-input" required>
                    </div>
                </div>

                <label for="event-type">Event Type</label>
                <select id="event-type" class="form-input" required>
                    <option value="">Select Event Type</option>
                    <option value="meeting">Meeting</option>
                    <option value="conference">Conference</option>
                    <option value="workshop">Workshop</option>
                    <option value="webinar">Webinar</option>
                </select>

                <p>EVENT PLACE</p>
                <input type="text" placeholder="Address Line 01" class="form-input" required>
                <input type="text" placeholder="Address Line 02" class="form-input" required>

                <input type="submit" value="Create New Event" class="create-event">
                <input type="button" value="Undo" class="undo-event" id="undo-button">
            </form>
        </div>
    </div>
</div>
