<div class="events-container">
    <div class="event-title">
        <p>Add New Event</p>
    </div>
    <div class="event-box">
        <li><a href="#" data-content="calendar"></a>
        <img src="/icons/calendar.png" alt="Calendar icon" width="14" height="14" class="icon"> Pick a Date
        </a></li>
        <li><a href="#" data-content="address"></a>
        <img src="/icons/address.png" alt="Address icon" width="14" height="14" class="icon"> Search Address
        </a></li>
        <p>Write a small description for the event</p>
    </div>
</div>
