<div class="home-screen-page">
    <div class="home-screen">
        <h1 class="main-title">simplify</h1>
        <p class="additional-text">Fine your Next management app</p>
    </div>
    <div class="welcome">
        <p>Whether you’re a small team or a large organization, our app is designed to enhance productivity, 
            simplify communication, and keep your projects on track.</p>
    </div>
</div>
