<div class="home-screen-page">
    <div class="home-screen">
        <h1 class="main-title">simplify.</h1>
    </div>
    <div class="search-container">
        <div class="search-bar-wrapper">
            <input type="text" class="search-bar" placeholder="What do you want to find?">
            <img src="icons/search-icon.png" alt="Search Icon" class="search-icon">
        </div>
                <p class="welcome-text">Whether you’re a small team or a large organization, our app is designed to enhance productivity, 
            simplify communication, and keep your projects on track.</p>
    </div>
    <div class="company-stats">
        <div class="stat">
            <span class="number">+23</span>
            <span class="label">Countries</span>
        </div>
        <div class="stat">
            <span class="number">50M</span>
            <span class="label">Downloads</span>
        </div>
    </div>
</div>
