<div class="home-screen-page">
    <div class="home-screen">
        <h1 class="main-title">Onday 101</h1>
    </div>

    <div class="company-stats">
        <div class="stat">
            <span class="number">+23</span>
            <span class="label">Countries</span>
        </div>
        <div class="stat">
            <span class="number">50M</span>
            <span class="label">Downloads</span>
        </div>
    </div>
</div>
