<div class="home-screen-page">
    <div class="hero-box">
        <div class="color-box">
            <div class="text-in-main">
                <h1 class="main-title">Digg a new knowledge</h1>
                <h1 class="sub-main-title">Discover the new classes in October 2024</h1>

            </div>
            <div class="image-container"> 
                <img src="/image/3d-hero1.png" alt="Dynamic Image" class="hero-image">
            </div>
        </div>
    </div>
</div>
