<div class="home-screen-page">
    <div class="home-screen"></div>
    <div class="welcome">
        <img src="/image/welcome.png" alt="Welcome to Simplify!" width="500" height="500">
    </div>
</div>
