<!-- https://codepen.io/sowg/pen/qBXjXoE -->
<div class="login-forms">
    <form action="/login-class" method="POST" class="login-form">
        <input type="text" name="username" placeholder="username" class="form-input" required>
        <input type="text" name="emailAddress" placeholder="Email" class="form-input" required>
        <input type="password" name="password" placeholder="Password" class="form-input" required>

        <input type="submit" value="Log In" class="login">
    </form>
</div>