<div class="login-forms">
    <!-- method="POST": In server.js, it should be app.post not app.get -->
    <form action="/login-h" method="POST" class="login-form">
        <input type="text" name="username" placeholder="username" class="form-input" required>
        <input type="password" name="password" placeholder="Password" class="form-input" required>

        <input type="submit" value="Log In" class="login">
    </form>
</div>