<div class="logout-container">
    <h1 class="logout-title">Do you want to log out?</h1>
    
    <!-- Code borrowed from a website - uiverse -->
    <!-- Source: (mrhyddenn, 2022, "Button", https://uiverse.io/mrhyddenn/brown-penguin-10) -->
    <div class="log-out-button-container">
        <form action="/logout-class" method="POST" class="log-out-form">
            <span class="log-out-button">
                <span class="tooltip">You will be logged out!</span> <!-- Tooltip message -->
                <a href="/" class="log-out-trigger">Log Out</a> <!-- Link to homepage -->
            </span>
        </form>
    </div>

    <div class="back-to-home-container">
        <a href="/" class="text-link">
            <img src="/icons/back-to-home.png" alt="Home icon" class="home-icon">Back to home</a>
    </div>
</div>
