<div class="class-container">
    <div class="class-box">
        <h2 class="register-class-main-text">Do you want to hold a class?</h2>
        <div class="three-icons">
            <img src="/icons/upload-picture.png" alt="Upload Picture icon" width="28" height="28" class="icon">
            <img src="/icons/edit.png" alt="Edit icon" width="28" height="28" class="icon">
            <img src="/icons/delete.png" alt="Delete icon" width="28" height="28" class="icon">
        </div>
    </div>

    <form class="class-creating" method="POST" action="/create-class">
        <div class="class-details">
            <p>Class DETAILS</p>
            <h2 class="register-class-sub-text">Write a small description for the class.</h2>

            <div class="form-group">
                <label for="class-name">Class Name</label>
                <input type="text" id="class-name" name="className" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="class-type">Class Type</label>
                <select id="class-type" name="classType" class="form-input" required>
                    <option value="">Select Class Type</option> <!-- Fixed value -->
                    <option value="freeclass">Art</option>
                    <option value="onedayclass">Technology</option>
                    <option value="conference">Baking/Cooking</option>
                    <option value="workshop">Plants</option>
                    <option value="webinar">Photography</option>
                    <option value="webinar">Business</option>
                    <option value="webinar">Language</option>
                    <option value="webinar">Fitness</option>
                </select>
            </div>

            <div class="form-group">
                <label for="class-price">Price</label>
                <input type="text" id="class-price" name="classPrice" class="form-input" required>
            </div>

<div class="time-duration-container">
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" id="date" name="classDate" class="form-input" required>
    </div>

    <div class="form-group">
        <label for="start-time">Start Time</label>
        <input type="time" id="start-time" name="startTime" class="form-input" required>
    </div>

    <div class="form-group">
        <label for="end-time">End Time</label>
        <input type="time" id="end-time" name="endTime" class="form-input" required>
    </div>
</div>

            <input type="hidden" name="classFormat" value="offline"> <!-- Default value setting to avoid server error -->
            <div class="checkbox-container">
                <div class="form-group">
                    <input type="checkbox" id="online-check" name="classFormat" value="online">
                    <label for="online-check">Set as Online</label>
                </div>
            </div>

            <div class="form-group">
                <p>Class PLACE</p>
                <label for="address-line-1">Address</label>
                <input type="text" id="address-line-1" name="address" placeholder="Please enter the location where the class will be held" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="address-line-2">Postcode</label>
                <input type="text" id="address-line-2" name="postcode" placeholder="Please enter the postcode" class="form-input" required>
            </div>

            <div class="button-container">
                <button type="submit" class="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                    </svg>
                    <div class="text">Submit</div>
                </button>

                <!-- When the remove button is clicked all the input fields are cleared. -->
                <button type="button" class="remove-button" onclick="resetForm()">
                    <div class="text">Remove</div>
                </button>
            </div>
        </div>
    </form>
</div>
