<div class="class-container">
    <div class="class-box">
        <h2 class="your-class-name">Register Your Class</h2>
        <h2 class="description">Write a small description for the class</h2>
        <div class="three-icons">
            <img src="/icons/upload-picture.png" alt="Upload Picture icon" width="28" height="28" class="icon">
            <img src="/icons/edit.png" alt="Edit icon" width="28" height="28" class="icon">
            <img src="/icons/delete.png" alt="Delete icon" width="28" height="28" class="icon">
        </div>
    </div>

<form id="create-class-form" class="class-creating" method="POST" action="/create-class">
    <div class="class-details">
        <p>class DETAILS</p>
        
        <div class="form-group">
            <label for="class-name">class Name</label>
            <input type="text" id="class-name" name="className" class="form-input" required>
        </div>

        <div class="form-group">
            <label for="class-type">class Type</label>
            <select id="class-type" name="classType" class="form-input" required>
                <option value="">Select class Type</option>
                <option value="meeting">Meetup</option>
                <option value="conference">Conference</option>
                <option value="workshop">Workshop</option>
                <option value="webinar">Webinar</option>
            </select>
        </div>

        <div class="time-duration-container">
            <div class="form-group">
                <label for="start-time">Start Time</label>
                <input type="time" id="start-time" name="startTime" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="end-time">End Time</label>
                <input type="time" id="end-time" name="endTime" class="form-input" required>
            </div>
        </div>

        <div class="checkbox-container">
            <div class="form-group">
                <input type="checkbox" id="online-check" name="classFormat" value="online">
                <label for="online-check">Set as Online</label>
            </div>

            <div class="form-group">
                <input type="checkbox" id="offline-check" name="classFormat" value="offline">
                <label for="offline-check">Set as Offline</label>
            </div>
        </div>

        <div class="form-group">
            <p>class PLACE</p>
            <label for="address-line-1">Address</label>
            <input type="text" id="address-line-1" name="address" placeholder="Address Line 01" class="form-input" required>
        </div>

        <div class="form-group address-spacing">
            <label for="address-line-2">Postcode</label>
            <input type="text" id="address-line-2" name="postcode" placeholder="Address Line 02" class="form-input">
        </div>

        <div class="class-buttons">
            <input type="submit" value="Create New class" class="create-class">
            <input type="button" value="Undo" class="undo-class" id="undo-class">
        </div>
    </div>
</form>
    </div>
</div>
