:root{
    --left-bar-font-color: #91A4B7; 
    --left-bar-background-color: #1C2A3A;
    --background-color: #FEFEFF; 
    --background-box-design-color: #fff;
    --logo-font-color: #F1F4F8;
    --section-font-color: #304254; 
    --menu-hover-color: #F8FAFC;
    --button-color: #EA6A5C;

    /* Contact */
    --form-border-color: #D5D5D5; 

    /* About */
    --about-title-color: #2051E5; 

}

body{
    margin: 0;
    font-family: 'Inter';
    display: flex;
}

.simplify-logo{
    display: flex; /* Align logo and Simplify text */
    align-items: center; /* Center the logo image and Simplify text vertically */
    background-color: var(--left-bar-background-color);
    padding: 1rem;
}

.simplify-logo img{
    margin: 1.6rem;
}

.simplify-logo p{
    color: var(--logo-font-color);
    font-size: 1.7rem;
    font-weight: 400;
    background-color: var(--left-bar-background-color);
}

/* Side Bar / Home / Events / Log Out */
.sidebar{
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    flex-shrink: 0; /* Fix the size of sidebar */
    width: 17rem;
    background-color: var(--left-bar-background-color); 
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.sidebar ul li{
    padding: 1rem;
}

.sidebar ul li a{
    color: var(--left-bar-font-color); 
    text-decoration: none; /* Remove underlines */
}

/* Side Bar Bottom / Settings / Help Center */
.sidebar-bottom{
    position: absolute;
    bottom: 0; /* Display Settings and Help Center in bottom */
    width: 100%;
}

.sidebar-bottom ul{
    list-style: none;
    padding: 0;
    margin: 0.5rem;
}

.sidebar-bottom ul li{
    padding: 1rem; 
}

.sidebar-bottom ul li a{
    color: var(--left-bar-font-color); 
    text-decoration: none; /* Remove underlines */
}

/* Icons next to menu names */
.icon{
    margin-right: 1rem;
    vertical-align: middle; /* Align icon with text */
}

/* When a submenu is hovered */
.submenu a:hover{
    background-color: var(--menu-hover-color);
}

.submenu{
    display: none;
}

/* When a submenu shows */
.show{
    display: block;
}

/* Create Accound button orange */
.create-account-button {
    position: absolute; 
    top: 1.25rem;
    right: 1.25rem;
    padding: 0.625rem;
}

.create-account-button button {
    background-color: #fff;
    color: var(--button-color);
    border: 0.125rem solid var(--button-color);
    padding: 0.5rem 1.5625rem;
    cursor: pointer;
    border-radius: 1rem;
}

/* Contact page */
.create-account-forms{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form */
.create-form{
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Between boxes */
    padding: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    width: 100%;
    max-width: 35rem;
    box-sizing: border-box;
    font-size: 0.8rem;
}

/* Form inputs */
.form-input{
    padding: 0.625rem;
    border: 0.0625rem solid var(--form-border-color);
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

/* Signup button */
.create{
    padding: 0.625rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--button-color);
    color: var(--button-color);
    cursor: pointer;
    font-size: 1rem;
    background-color: #fff;
}

/* About page */
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-title{
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 20rem;
    color: #2e2a2a;
}

.about-text{
    line-height: 1.8;
    max-width: 50rem;
    color: #000000;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20rem;
    text-align: justify;
}

/* Event page */
.event-title p{
    color: #2e2a2a;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

.your-event-name{
    color: #E1E8F0;
}

.events-container{
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Between boxes */
    padding: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    width: 100%;
    max-width: 35rem;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.event-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--left-bar-background-color);
    width: 66rem;
    height: 15rem;
    border-radius: 1rem;
    padding: 1rem;
}

.event-box ul{    
    list-style: none;
    display: flex;
    flex-direction: row;
}

.event-box ul li{
    margin-right: 3rem;
}

.event-box ul li a{
    color: var(--left-bar-font-color);
    text-decoration: none; /* Remove underlines */
    font-size: 1rem;
}

.event-box ul li a img{
    margin-right: 0; /* Remove space between icon and text */
}

.event-box p{
    color: #E1E8F0;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-icons{
    display: flex;
    justify-content: flex-end; /* Arrange rightside  */
    align-items: center;
}

.time-duration-container{
    display: flex;
    justify-content: space-between; 
    gap: 1rem;
}

.form-group{
    flex: 1;
}
